.car_detail_content{
    padding: 32px 100px;
}
p{
    margin: 0;
    padding: 0;
}
span{
    color: grey;
}
i{
    color: #CC0041;
    margin-right: 6px;
}
.car_detail_header{
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.uc21_images, .uc21_images img{
    width: 100%;
    height: 520px;
    border-radius: 0;
}
.car_detail_overview{
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}
.uc21_left{
    display: flex;
    justify-content: center;
}
.uc21_right button{
    width: 150px;
    height: 48px;
    background-color:unset;
    border: 1px solid #CC0041;
    border-radius: 6px;
    color: black;
}
.uc21_right button:hover{
    border: 2px solid #CC0041;
    font-size: 1.1rem;
}
.overview_item{
    margin-right: 32px;
    display: flex;
    flex-direction: column;
}
.number{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1;
}
.car_detail_info{
    display: flex;
    justify-content: space-between;
}
.info_item{
    width: 30%;
    font-size: 0.9rem;
}
.info_item_title{
    color: #CC0041;
    font-weight: bold;
    margin-bottom: 16px;
}