.car_item {
    display: flex;
    padding: 32px 80px;
    align-items: stretch;
}
.car_item_img {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}
.car_item_info {
    display: flex;
    flex-direction: column;
    padding-left: 60px ;
    width: 50%;
}
.order1{
    order: 1;
}
.order2{
    order: 2;
    justify-content: left;
    padding-left: 48px;
    padding-right: 12px;
}
.carousel-inner, .carousel-inner img{
    width: 620px;
    height: 380px;
    border-radius: 32px;
}

.car_action a, .car_action button{
    width: 180px;
    margin-right: 24px;
    padding: 12px;
    background-color:#CC0041 ;
    border: none;
    font-weight: 500;
    line-height: 1;
}
.car_item_info_detail{
    display: flex;
    margin-bottom: 24px;
    color: black;
}
.text_header{
    color: black;
    font-size: 2.0rem;
    font-weight: 500;
}
.text_description{
    color: black;
    text-align: justify;
    margin-bottom: 8px;
}