.header2 {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.header2_background {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.header2_menu {
    width: 1000px;
    height: 130px;
    border-radius: 0 0 0 8px;
    background-color: white;
    position: relative;
}

.header2_menu_contact {
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
    width: 750px;
    height: 38px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222222;
    color: white;
    border-radius: 0 0 0 8px;
    font-size: 0.9rem;
}

.header2_menu_logo {
    width: 169px;
    height: 130px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.header2_menu_nav {
    display: flex;
    width: 750px;
    height: 90px;
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
}
.header2_description{
    width: 1000px;
    margin-top: 84px;
}
.header2 li {
    margin: 0 32px;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

a:hover {
    color: #ffc107;
}