<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Detail</title>
</head>
<body>
	<div th:insert="~{/fragment/header::menu2(${fullName})}">
	</div>
	
	<h1>Booking Details</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Car id</th>
					<th>Member id</th>
					<th>Start Date</th>
					<th>Return Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${booking.getId()}"></td>
					<td th:text="${booking.getCar().getId()}"></td>
					<td th:text="${booking.getMember().getId()}"></td>
					<td th:text="${booking.getStartDate()}"></td>
					<td th:text="${booking.getEndDate()}"></td>
				</tr>
			</tbody>	
		</table>
	</div>
</body>
</html>