<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Booking Successfully</title>
</head>
<body>
	<div>
		<h1>Step 3: Confirm Booking</h1>
		<div>
			<p>You've successfully booked  from  to </p>
			<p>Your booking number is: </p>
			<p>Our operator will contact you with further guidance about pickup.</p>
		</div>
		<div>
			<a class="btn btn-link" th:href="@{redirect:/home}" role="button">Go to Homepage</a>
			<a class="btn btn-secondary" th:href="@{/search/car}" role="button">Book another car</a>
			<a class="btn btn-primary" th:href="@{/booking}" role="button">View Booking</a>
		</div>
	</div>
</body>
</html>