<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Booking Successfully</title>

<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="assets/boostrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/font-awesome-pro.css" />
<link rel="stylesheet" href="/assets/css/fragment/header.css">

</head>
<body>
	<div th:insert="~{/fragment/header::menu2(${fullName})}">
	</div>
	
	<div>
		<h1>Step 3: Confirm Booking</h1>
		<div>
			<p>You've successfully booked <span th:text="${booking.getCar().getBrand()} + ' ' + ${booking.getCar().getModel()} + ' ' + ${booking.getcar().getYear()}"></span> from <span th:text="${booking.getStartDate()}"></span> to <span th:text="${booking.getEndDate()}"></span> </p>
			<p>Your booking number is: <span th:text="${booking.getId()"></span> </p>
			<p>Our operator will contact you with further guidance about pickup.</p>
		</div>
		<div>
			<a class="btn btn-link" th:href="@{/home}" role="button">Go to Homepage</a>
			<a class="btn btn-secondary" th:href="@{/search/car}" role="button">Book another car</a>
			<a class="btn btn-primary" th:href="@{/booking(booking_id = ${booking.getId()})}" role="button">View Booking</a>
		</div>
	</div>
</body>
</html>