<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Booking</title>

<!--CSS-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500" />
<link rel="stylesheet" href="../../static/assets/boostrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/assets/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="../../static/assets/css/form-element.css" />

<!--JS-->
<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/boostrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="text/javascript" src="../../static/assets/js/booking-process.js"></script>

</head>
<body>
	<div class="bookingDetails">
		<h3>Booking Details</h3>
		<p>Change details</p>
		<ul>
			<li>Pick-up location: </li>
			<li>Pick up date and time: </li>
			<li>Return date and time: </li>
		</ul>
	</div>
	<div class="steps">
		<button class="btn btn-primary" id="bookingStep1">Step 1: Booking Information</button>
		<button class="btn btn-primary" id="bookingStep2">Step 2: Payment</button>
		<button class="btn btn-primary" id="bookingStep3">Step 3: Finish</button>
	</div>
	<div class="bookingSummary">
		<div>
			Ratings: 
			No. of rides: 
			Price: 
			Location: 
			Status: 
		</div>
		<div>
			Booking summary
			Number of days: 
			Price per day: 
			Total: 
			Deposit: 
		</div>
	</div>
	<div class="step1">
		<div class="renterInfo">
			Renter's Information
			<form>
				<div>
					<div class="mb-3">
						<label for="fullName" class="form-label">Full name: </label>
						<input type="text" class="form-control" id="renterFullName" name="renterFullName" required>
					</div>
					<div class="mb-3">
						<label for="phone" class="form-label">Phone Number: </label>
						<input type="text" class="form-control" id="renterPhone" name="renterPhone" required>
					</div>
					<div class="mb-3">
						<label for="nationalId" class="form-label">National ID No.: </label>
						<input type="number" class="form-control" id="renterNationalId" name="renterNationalId" required>
					</div>
					<div class="mb-3">
						<label for="dob" class="form-label">Date of Birth: </label>
						<input type="date" class="form-control" id="renterDob" name="renterDob" required>
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email Address: </label>
						<input type="email" class="form-control" id="renterEmail" name="renterEmail">
					</div>
					<div class="mb-3">
						<label for="drivingLicense" class="form-label">Driving license: </label>
						<input type="file" class="form-control" id="renterDrivingLicense" name="renterDrivingLicense">
					</div>
				</div>
				<div class="mb-3">
						<label for="address" class="form-label">Address: </label>
						<select class="form-control" id="renterCity" name="renterCity">
							<option>
						</select>
						<select class="form-control" id="renterDistrict" name="renterDistrict">
							<option>
						</select>
						<select class="form-control" id="renterWard" name="renterWard">
							<option>
						</select>
						<input type="text" class="form-control" id="renterAddress" name="renterAddress">
				</div>
			</form>
		</div>
		<div class="driverInfo">
			Driver's Information
			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="notRenter" name="notRenter">
				<label class="form-check-label" for="notRenter">Different than Renter's information</label>
			</div> 
			<form>
				<div>
					<div class="mb-3">
						<label for="fullName" class="form-label">Full name: </label>
						<input type="text" class="form-control" id="driverFullName" name="driverFullName" required>
					</div>
					<div class="mb-3">
						<label for="phone" class="form-label">Phone Number: </label>
						<input type="text" class="form-control" id="driverPhone" name="driverPhone" required>
					</div>
					<div class="mb-3">
						<label for="nationalId" class="form-label">National ID No.: </label>
						<input type="number" class="form-control" id="driverNationalId" name="driverNationalId" required>
					</div>
					<div class="mb-3">
						<label for="dob" class="form-label">Date of Birth: </label>
						<input type="date" class="form-control" id="driverDob" name="driverDob" required>
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email Address: </label>
						<input type="email" class="form-control" id="driverEmail" name="driverEmail">
					</div>
					<div class="mb-3">
						<label for="drivingLicense" class="form-label">Driving license: </label>
						<input type="file" class="form-control" id="driverDrivingLicense" name="driverDrivingLicense">
					</div>
				</div>
				<div class="mb-3">
						<label for="address" class="form-label">Address: </label>
						<select class="form-control" id="driverCity" name="driverCity">
							<option>
						</select>
						<select class="form-control" id="driverDistrict" name="driverDistrict">
							<option>
						</select>
						<select class="form-control" id="driverWard" name="driverWard">
							<option>
						</select>
						<input type="text" class="form-control" id="driverAddress" name="driverAddress">
				</div>
			</form>
		</div>
		<div>
			<input type="button" class="btn btn-secondary" value="Cancel">
			<input type="button" class="btn btn-link" value="Next"> 
		</div>
	</div>
	<div class="step2">
		Please select your payment method:
		<div class="form-check">
			<input class="form-check-input" type="radio" name="wallet" id="wallet">
			<label class="form-check-label" for="wallet">My wallet</label>
			Current balance: <span></span> <span class="text-danger">(Insufficient)</span>
			Please go to My wallet to top-up and try again
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="cash" id="cash">
			<label class="form-check-label" for="wallet">Cash</label>
				Our operator will contact you for further instruction 
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="bankTransfer" id="bankTransfer">
			<label class="form-check-label" for="bankTransfer">Bank Transfer</label>
				Our operator will contact you for further instruction 
		</div>
		<div>
			<input type="button" class="btn btn-link" value="Cancel">
			<input type="submit" class="btn btn-primary" value="Confirm Payment">
			<span>The deposit amount will be deducted from your wallet</span>
		</div>
	</div>
	<div class="step3">
		<div>
			<p>You've successfully booked  from  to </p>
			<p>Your booking number is: </p>
			<p>Our operator will contact you with further guidance about pickup.</p>
		</div>
		<div>
			<a class="btn btn-link" href="../home/home_guest.html" role="button">Go to homepage</a>
			<button class="btn btn-secondary">Book another car</button>
			<button class="btn btn-primary">View Booking</button>
		</div>
	</div>
</body>
</html>