<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Booking Successfully</title>
</head>
<body>
	<div>
		<h1>Step 3: Confirm Booking</h1>
		<div>
			<p>You've successfully booked  from  to </p>
			<p>Your booking number is: </p>
			<p>Our operator will contact you with further guidance about pickup.</p>
		</div>
		<div>
			<a class="btn btn-link" href="../home/home_guest.html" role="button">Go to homepage</a>
			<button class="btn btn-secondary">Book another car</button>
			<button class="btn btn-primary">View Booking</button>
		</div>
	</div>
</body>
</html>