<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Detail</title>
</head>
<body>
	Booking Details
</body>
	<div th:text=${booking.toString()}></div>
	<div>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Car id</th>
					<th>Member id</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${booking.getId()}"></td>
					<td th:text="${booking.getCar().getId()}"></td>
					<td th:text="${booking.getMember().getId()}"></td>
				</tr>
			</tbody>	
		</table>
	</div>
</html>