<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Detail</title>
    
<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="assets/boostrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/font-awesome-pro.css" />
<link rel="stylesheet" href="/assets/css/fragment/header.css">

</head>
<body>
	<div th:insert="~{/fragment/header::menu2(${fullName})}">
	</div>
	
	<h1>Booking Details</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Car id</th>
					<th>Member id</th>
					<th>Start Date</th>
					<th>Return Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${booking.getId()}"></td>
					<td th:text="${booking.getCar().getId()}"></td>
					<td th:text="${booking.getMember().getId()}"></td>
					<td th:text="${booking.getStartDate()}"></td>
					<td th:text="${booking.getEndDate()}"></td>
				</tr>
			</tbody>	
		</table>
	</div>

<!--JS-->
<script src="assets/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="assets/boostrap/js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>