<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Status</title>
    <link rel="stylesheet" href="/assets/css/booking_status.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

<div class="container d-flex justify-content-center mt-150">
    <div class="row">
        <div class="col-xs-12">
            <form action="/booking/status" method="post" th:object="${car}">
                <div th:utext="${messPayment}"></div>
                <div class="form-group">
                    <label>Status:</label><select name="status" class="form-select" aria-label="Default select example">
                    <!--        <th:block th:each="status: ${bookingStatus}">-->
                    <!--            <option th:utext="${status.name()}" th:value="${status.ordinal()}">-->
                    <!--            </option>-->
                    <!--        </th:block>-->
                    <!-- th:block rather than unneeded div -->
                    <th:block th:each="status: ${carStatus}" th:switch="${status.name()}">
                        <option th:case="'Available'">Available</option>
                        <option th:case="'Stopped'">Stopped</option>
                    </th:block>
                </select>
                </div>
                <!--                <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#confirmDeposit">
                    Confirm deposit
                </button>
                <!-- Modal -->
                <div class="modal fade" id="confirmDeposit" tabindex="-1" role="dialog"
                     aria-labelledby="confirmDepositLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content p-4">
                            <div class="modal-header pt-1 pl-2">
                                <h5 class="modal-title" id="confirmDepositLabel">Confirm deposit</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-check pt-4">
                                    <p class="justify">Please confirm that you have receive the deposit this booking.
                                        This will allow the customer to pick-up the car at the agreed date and time.</p>
                                </div>
                            </div>
                            <div class="modal-footer pt-4">
                                <button type="button" class="btn btn-light mx-auto" style="width:45%"
                                        data-dismiss="modal">No
                                </button>
                                <button type="submit" class="btn btn-dark mx-auto" style="width:45%">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="reset" class="btn btn-danger">Reset</button>
            </form>
        </div>
    </div>

    <!--                &lt;!&ndash; Button trigger modal &ndash;&gt;-->
    <!--                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#stopStatus">-->
    <!--                    Stopped-->
    <!--                </button>-->
    <!--                &lt;!&ndash; Modal &ndash;&gt;-->
    <!--                <div class="modal fade" id="stopStatus" tabindex="-1" role="dialog"-->
    <!--                     aria-labelledby="stopStatusLabel" aria-hidden="true">-->
    <!--                    <div class="modal-dialog" role="document">-->
    <!--                        <div class="modal-content p-4">-->
    <!--                            <div class="modal-header pt-1 pl-2">-->
    <!--                                <h5 class="modal-title" id="stopStatusLabel">Stop Renting a Car</h5>-->
    <!--                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
    <!--                                    <span aria-hidden="true">&times;</span>-->
    <!--                                </button>-->
    <!--                            </div>-->
    <!--                            <div class="modal-body">-->
    <!--                                <div class="form-check pt-4">-->
    <!--                                    <p class="justify">Are you sure you want to stop renting this car.</p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div class="modal-footer pt-4">-->
    <!--                                <button type="button" class="btn btn-light mx-auto" style="width:45%"-->
    <!--                                        data-dismiss="modal">No-->
    <!--                                </button>-->
    <!--                                <button type="submit" class="btn btn-dark mx-auto" style="width:45%">Yes</button>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
</div>

<!--<div class="container d-flex justify-content-center mt-150">-->
<!--    <div class="row">-->
<!--        <div class="col-xs-12">-->
<!--            <form action="/status" method="post" th:object="${bookingObject}">-->
<!--                <div th:utext="${messSave}"></div>-->
<!--                <div class="form-group">-->
<!--                    <label>Status:</label><select name="status" class="form-select" aria-label="Default select example">-->
<!--                    &lt;!&ndash;        <th:block th:each="status: ${bookingStatus}">&ndash;&gt;-->
<!--                    &lt;!&ndash;            <option th:utext="${status.name()}" th:value="${status.ordinal()}">&ndash;&gt;-->
<!--                    &lt;!&ndash;            </option>&ndash;&gt;-->
<!--                    &lt;!&ndash;        </th:block>&ndash;&gt;-->
<!--                    &lt;!&ndash; th:block rather than unneeded div &ndash;&gt;-->
<!--                    <th:block th:each="status: ${bookingStatus}" th:switch="${status.name()}">-->
<!--                        <option th:case="'Available'">Available</option>-->
<!--                        <button type="button" class="btn btn-primary " data-toggle="modal"-->
<!--                                data-target="#stopStatus">-->
<!--                            <option th:case="'Stopped'">Stopped</option>-->
<!--                        </button>-->
<!--                        <option th:case="'Booked'">Booked</option>-->
<!--                    </th:block>-->
<!--                </select>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>-->
<!--                <button type="reset" class="btn btn-danger">Reset</button>-->

<!--                &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#stopStatus">-->
<!--                    Stopped-->
<!--                </button>-->
<!--                &lt;!&ndash; Modal &ndash;&gt;-->
<!--                <div class="modal fade" id="stopStatus" tabindex="-1" role="dialog"-->
<!--                     aria-labelledby="stopStatusLabel" aria-hidden="true">-->
<!--                    <div class="modal-dialog" role="document">-->
<!--                        <div class="modal-content p-4">-->
<!--                            <div class="modal-header pt-1 pl-2">-->
<!--                                <h5 class="modal-title" id="stopStatusLabel">Stop Renting a Car</h5>-->
<!--                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                    <span aria-hidden="true">&times;</span>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                <div class="form-check pt-4">-->
<!--                                    <p class="justify">Are you sure you want to stop renting this car.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="modal-footer pt-4">-->
<!--                                <button type="button" class="btn btn-light mx-auto" style="width:45%"-->
<!--                                        data-dismiss="modal">No-->
<!--                                </button>-->
<!--                                <button type="button" class="btn btn-dark mx-auto" style="width:45%">Yes</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#confirmDeposit">-->
<!--                    Confirm deposit-->
<!--                </button>-->
<!--                &lt;!&ndash; Modal &ndash;&gt;-->
<!--                <div class="modal fade" id="confirmDeposit" tabindex="-1" role="dialog"-->
<!--                     aria-labelledby="confirmDepositLabel" aria-hidden="true">-->
<!--                    <div class="modal-dialog" role="document">-->
<!--                        <div class="modal-content p-4">-->
<!--                            <div class="modal-header pt-1 pl-2">-->
<!--                                <h5 class="modal-title" id="confirmDepositLabel">Confirm deposit</h5>-->
<!--                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                    <span aria-hidden="true">&times;</span>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                <div class="form-check pt-4">-->
<!--                                    <p class="justify">Please confirm that you have receive the deposit this booking.-->
<!--                                        This will allow the customer to pick-up the car at the agreed date and time.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="modal-footer pt-4">-->
<!--                                <button type="button" class="btn btn-light mx-auto" style="width:45%"-->
<!--                                        data-dismiss="modal">No-->
<!--                                </button>-->
<!--                                <button type="button" class="btn btn-dark mx-auto" style="width:45%">Yes</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#confirmPayment">-->
<!--                    Confirm payment-->
<!--                </button>-->
<!--                &lt;!&ndash; Modal &ndash;&gt;-->
<!--                <div class="modal fade" id="confirmPayment" tabindex="-1" role="dialog"-->
<!--                     aria-labelledby="confirmPaymentLabel" aria-hidden="true">-->
<!--                    <div class="modal-dialog" role="document">-->
<!--                        <div class="modal-content p-4">-->
<!--                            <div class="modal-header pt-1 pl-2">-->
<!--                                <h5 class="modal-title" id="confirmPaymentLabel">Confirm payment</h5>-->
<!--                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                    <span aria-hidden="true">&times;</span>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                <div class="form-check pt-4">-->
<!--                                    <p class="justify">Please confirm that you have receive the payment for this-->
<!--                                        booking.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="modal-footer pt-4">-->
<!--                                <button type="button" class="btn btn-light mx-auto" style="width:45%"-->
<!--                                        data-dismiss="modal">No-->
<!--                                </button>-->
<!--                                <button type="button" class="btn btn-dark mx-auto" style="width:45%">Yes</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Javascript -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/boostrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/signup.js"></script>
</body>
</html>