<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>
    <link rel="stylesheet" href="/assets/boostrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/form-element.css"/>
    <link rel="stylesheet" href="/assets/css/addCar.css">
</head>
<body>
<div class="container">
    <form action="/editCar" th:object="${editCar}" method="post" class="add-car-form-1" id="regForm">
        <div>
            <label>Status:</label><select name="status" th:field="*{status}" class="form-select"
                                          aria-label="Default select example">
            <th:block th:each="status: ${carStatus}" th:switch="${status.name()}">
                <option th:case="'Available'" th:value="'Available'">Available</option>
                <option th:case="'Stopped'" th:value="'Stopped'">Stopped</option>
            </th:block>
        </select>
        </div>
        <div>
            Base price:
            <input type="number" th:field="*{price}" name="price" oninput="this.className = ''"/> VND/Day
        </div>
        <div>
            Required deposit:
            <input type="number" th:field="*{deposit}" name="deposit" oninput="this.className = ''"/>
        </div>

        <button type="submit" class="btn btn-light" id="btnSubmit">Save</button>
        <button type="reset" class="btn btn-light">Reset</button>
    </form>
</div>
<script src="/assets/js/addCar.js"></script>
<!-- Javascript -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/boostrap/js/bootstrap.min.js"></script>

</body>
</html>