<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CarRental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    FONT-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
          rel="stylesheet">

    <!--    ICON-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!--    BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    CSS-->
    <link rel="stylesheet" href="/assets/css/car/car_search.css">
    <link rel="stylesheet" href="/assets/css/fragment/header.css">
    <link rel="stylesheet" href="/assets/css/fragment/search.css">
    <link rel="stylesheet" href="/assets/css/car/car_item.css">
    <link rel="stylesheet" href="/assets/css/car/car_detail.css">
</head>

<body>


<div th:insert="~{/fragment/header::menu2(${fullName})}">
</div>
<div th:insert="~{/fragment/search::search(${city}, ${date1}, ${time1}, ${date2}, ${time2})}">
</div>


<div class="list_car_header">
    <div>
        <p style="color: black">There are <span th:text="${resultPage.getTotalElements()}"></span> cars that available
            for you!</p>
    </div>
    <div style="display: flex; align-items: center">
        <a href="#" class="icon_border show_list" style="background-color: #ffc107;">
            <i class="fa-solid fa-list-ul" style="margin: 0px"></i>
        </a>
        <a href="#" class="icon_border show_table">
            <i class="fa-solid fa-table"></i>
        </a>
        <form th:action="@{/search_car}">
            <select class="custom-select" name="sort" onchange="this.form.submit()">
                <option value="0" th:selected="${sortType==0}">None</option>
                <option value="1" th:selected="${sortType==1}">Year</option>
                <option value="2" th:selected="${sortType==2}">Price</option>
                <option value="3" th:selected="${sortType==3}">Rating</option>
            </select>
            <input type="hidden" name="city" th:value="${city}">
            <input type="hidden" name="size" th:value="${pageSize}">
            <input type="hidden" name="page" th:value="${currentPage}">
            <input type="hidden" name="date1" th:value="${date1}">
            <input type="hidden" name="date2" th:value="${date2}">
            <input type="hidden" name="time1" th:value="${time1}">
            <input type="hidden" name="time2" th:value="${time2}">
        </form>
    </div>
</div>


<div class="list_car_content" th:if="${resultPage.getTotalElements()>0}">
    <div th:insert="~{/fragment/carInfo::car_item(${resultPage.getContent()})}"></div>
    <div class="car_paging">
        <form th:action="@{/search_car}">
            <label for="page_size">Page size </label>
            <select id="page_size" class="custom-select" name="size" onchange="this.form.submit()">
                <option th:selected="${pageSize==5}" value="5">5</option>
                <option th:selected="${pageSize==10}" value="10">10</option>
                <option th:selected="${pageSize==15}" value="15">15</option>
            </select>
            <input type="hidden" name="city" th:value="${city}">
            <input type="hidden" name="date1" th:value="${date1}">
            <input type="hidden" name="date2" th:value="${date2}">
            <input type="hidden" name="time1" th:value="${time1}">
            <input type="hidden" name="time2" th:value="${time2}">
        </form>
        <nav>
            <ul class="pagination" style="margin: 0">
                <li th:class="${currentPage==1}? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/search_car(city = ${city}, size = ${pageSize},date1 =${date1},date2 =${date2},time1 =${time1},time2 =${time2}, page = ${1})}">First</a>
                </li>
                <li th:each="pageNumber: ${pageNumbers}"
                    th:class="${pageNumber == currentPage}? 'page-item active': 'page-item'">
                    <a class="page-link "
                       th:href="@{/search_car(city = ${city}, size = ${pageSize},date1 =${date1},date2 =${date2},time1 =${time1},time2 =${time2}, page = ${pageNumber})}"
                       th:text="${pageNumber}"></a>
                </li>
                <li th:class="${currentPage==totolPage}? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/search_car(city = ${city}, size = ${pageSize},date1 =${date1},date2 =${date2},time1 =${time1},time2 =${time2}, page = ${totolPage})}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--JS-->
<script src="/assets/js/search_car.js"></script>

</body>
</html>