.menu{
    display: flex;
    justify-content: space-between;
    padding: 4px 32px;
    color: #CC0041;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
.nav{
    display: flex;
    list-style: none;
    align-items: center;
    color: #0b0b0b;
}
i{
    margin-right: 8px;
}
a{
    text-decoration: none;
    color: #0b0b0b;
}
li:hover{
    color: #ffc107;
}